*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    /* garante que os elementos terão o mesmo tamanho, ideal para 
    trabalhar com responsividade */
    font-family: 'Montserrat', sans-serif;

}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgb(218, 45, 45);
    height: 10%;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    padding: 10px;
}

h1{
    text-transform: uppercase;
}

#item__navegador{
    font-size: large;
    padding: 20px;
    text-decoration: none;
    color: white;
}

a{
    text-decoration: none;
    color: black;
    padding: 5px;


}

main{
    min-height: 89vh;
    background-image: linear-gradient(to bottom, #fc5c7d, #6a82fb);
}

.primeira__sessao{
    display: flex;
    padding: 10vh;
    justify-content: space-evenly;
    
}

.primeira__sessao_imagem{
    width: 50vh;
    border-radius: 20%;
    border: 5px solid;
    border-color: rgb(0, 0, 0);
}

.primeira__sessao_container{
   padding: 10px;
   background-color: rgb(194, 67, 233);
   border: 5px solid black;
   border-radius: 20%;
   text-align: center;
}

.primeira__sessao_paragrafo{
    width: 50vh;
    text-align: justify;
    padding: 30px;
    font-weight: bold;
}

.segunda__sessao{
    display: flex;
    flex-direction: column;
    padding: 30px;
    
}

.segunda__sessao_container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.segunda__sessao_itens{
    margin: 2%;


}

.segunda__sessao_texto{
    margin-top: 10px;
    text-align: center;

}

.caixinha{
    border: 2px solid black;
    padding-left: 20px;
    padding-right: 20px;
    width: 20vw;
    height: 20vh;
}

footer{
    background-color: rgb(14, 46, 88);
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}